body{
    background-color: white;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.button{
    font-size: 30px;
    color: blue;
}